*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #eee;
    display: flex;
}

.navigationBar{
    position: relative;
    width: 200px;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.header{
    margin: 10px 0px;
    margin-top: 30px;
    width: 100%;
}

.logoBox{
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}

.logoBox img{
    width: 30px;
}

.logoBox h1{
    color: gray;
    padding-left: 20px;
}

.options{
    width: 100%;
    height: auto;
    text-align: left;
    margin-top: 30px;
}

.options h2{
    color: gray;
    font-family: Arial;
    font-size: 0.8em;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.options-list{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.options-list li{
    width: 100%;
    height: 2.5em;
    margin: 5px 0px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: 0.8em;
    font-family: Arial;
}

.options-list li:hover{
    background: #eee;
    border-right: 4px solid darkmagenta;
    cursor: pointer;
    color: darkmagenta;
}

.optionActive{
    background: #eee;
    border-right: 4px solid darkmagenta;
}

.optionActive div p{
    color: darkmagenta;
}

.options-list li div{
    display: flex;
}

.options-list li div p{
    margin-left: 10px;
}

.btnClose{
    opacity: 0;
    position: absolute;
    right: -20px;
    top: 35px;
    text-align: center;
    width: 24px;
    height: 24px;
    background: rgba(0,0,0,0.2);
    border: none;
    border-radius: 12px;
}

.close{
    width: 50px;
}

.close .header .logoBox{
    margin-left: 0px;
    display: flex;
    justify-content: center;
}
.close .options-list li label,
.close .header .logoBox h1,
.close .options .optionTitle,
.close .options-list li div p{
    display: none;
}

.btnClose:hover{
    opacity: 1;
    background: #7728ff;
    color: white;
    cursor: pointer;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    background: red;
}

.searchBox{
    grid-column: span 6;
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    width: 80%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.search input{
    padding: 0px 20px;
    margin-left: 20px;
    width: 100%;
    height: 80%;
    border: none;
}

.profile{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.profile label{
    margin-left: 5px;
    height: 50%;
    border: 1px solid gray;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.starIcon ion-icon{
    margin-right: 5px;
}

.profile img{
    margin-left: 20px;
    width: 30px;
    border-radius: 15px;
}

.section{
    background: yellow;
    border-radius: 10px;
}

.section1{
    grid-column: span 4;
}

.section2{
    grid-column: span 1;
}

.section3{
    grid-column: span 1;
}